.table-category {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}

.poll_validate {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #714B67;
  border-color: #714B67;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.poll_detail_validate_redirect {
    cursor: pointer;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 280px;
  height: 95px;
  background: transparent linear-gradient(90deg, #F5AD0B 0%, #3440CC 0%, #071B96 100%) 0% 0% no-repeat padding-box;
  border: 5px solid #FAC100;
  border-radius: 27px;
  opacity: 1;
}

.poll_validate_redirect {
  cursor: pointer;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 280px;
  height: 95px;
  background: transparent linear-gradient(90deg, #F5AD0B 0%, #3440CC 0%, #071B96 100%) 0% 0% no-repeat padding-box;
  border: 5px solid #FAC100;
  border-radius: 27px;
  opacity: 1;
}

.poll_detail_validate {
  cursor: pointer;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 280px;
  height: 95px;
  background: transparent linear-gradient(90deg, #F5AD0B 0%, #3440CC 0%, #071B96 100%) 0% 0% no-repeat padding-box;
  border: 5px solid #FAC100;
  border-radius: 27px;
  opacity: 1;
}

.poll_jury_validate {
    cursor: pointer;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 280px;
  height: 95px;
  background: transparent linear-gradient(90deg, #F5AD0B 0%, #3440CC 0%, #071B96 100%) 0% 0% no-repeat padding-box;
  border: 5px solid #FAC100;
  border-radius: 27px;
  opacity: 1;
}

.breadcrumb {
  padding: 0 .5rem;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "→";
}


.radialProgressBar {
  border-radius: 50%;
  /*  -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);*/
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ddd;
  margin: 20px;
  float: left;
}

.radialProgressBar .overlay {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  background: #fff;
  text-align: center;
  padding-top: 30%;
}

.progress-0 {
  background-image: -webkit-linear-gradient(left, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #FF0000 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #714B67 50%, #ddd 50%);
}


.progress-20 {
  background-image: -webkit-linear-gradient(72deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #970000 50%, #ddd 50%);
  background-image: linear-gradient(18deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #970000 50%, #ddd 50%);
}

.progress-30 {
  background-image: -webkit-linear-gradient(108deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #970000 50%, #ddd 50%);
  background-image: linear-gradient(-18deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #970000 50%, #ddd 50%);
}

.progress-50 {
  background-image: -webkit-linear-gradient(right, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #E73901 50%, #ddd 50%);
  background-image: linear-gradient(-90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #E73901 50%, #ddd 50%);
}


.progress-70 {
  background-image: -webkit-linear-gradient(left, #E73901 50%, transparent 50%), -webkit-linear-gradient(72deg, #E73901 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #E73901 50%, transparent 50%), linear-gradient(18deg, #E73901 50%, #ddd 50%);
}


.progress-90 {
  background-image: -webkit-linear-gradient(left, #147600 50%, transparent 50%), -webkit-linear-gradient(144deg, #147600 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #147600 50%, transparent 50%), linear-gradient(-54deg, #147600 50%, #ddd 50%);
}

.progress-100 {
  background-image: -webkit-linear-gradient(left, #147600 50%, transparent 50%), -webkit-linear-gradient(right, #147600 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #147600 50%, transparent 50%), linear-gradient(-90deg, #147600 50%, #ddd 50%);
}

/*
.team-img{
  width:1000px;
  height:150px;
}
*/

iframe {
  height: 380px;
  width: 380px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  //border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

#imagePreview {
  width: 218px;
    height: 250px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #FFB100;
    border-radius: 38px;
    opacity: 1;
    margin-top: 30px;
    margin-left: 80px;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.card-img-top {
  width: 100%;
  height: 19rem;
  object-fit: cover
  //max-height: 45vh; /*not want to take all vertical space*/
  //object-fit: contain;/*show all image, autosized, no cut, in available space*/
}

.circles-small-red {
  margin: 0 auto;
  width: 400px;
  height: 80px;
  text-align: center;
}

.circle-small-red {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 20px;
}

.circle-small-red svg {
  width: 80px;
  height: 80px;
}

.circle-small-red .bg {
  fill: none;
  stroke-width: 6px;
  stroke: #ddd;
}

.circle-small-red .progress {
  fill: none;
  stroke-width: 6px;
  stroke: red;
  stroke-linecap: round;
  stroke-dasharray: 202.36;
          transform: rotate(-90deg);
          transform-origin: 50% 50%;
}

.circle-small-red .progress.one {
  stroke-dashoffset: 80;
          animation: one 2.5s ease-in-out, appear 1s;
}

.circle-small-red .progress.two {
  stroke-dashoffset: 140;
          animation: two 3.5s ease-in-out, appear 2s;
}

.circle-small-red .text {
  position: absolute;
  width: 100%;
  top: 33px;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
}

.circle-small-red .text .small {
  font-size: 12px;
  color: #fff;
}

.circle-small-orange {
  margin: 0 auto;
  width: 400px;
  height: 80px;
  text-align: center;
}

.circle-small-orange {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 20px;
}

.circle-small-orange svg {
  width: 80px;
  height: 80px;
}

.circle-small-orange .bg {
  fill: none;
  stroke-width: 6px;
  stroke: #ddd;
}

.circle-small-orange .progress {
  fill: none;
  stroke-width: 6px;
  stroke: orange;
  stroke-linecap: round;
  stroke-dasharray: 275.36;
          transform: rotate(-90deg);
          transform-origin: 50% 50%;
}

.circle-small-orange .progress.one {
  stroke-dashoffset: 80;
          animation: one 2.5s ease-in-out, appear 1s;
}

.circle-small-orange .progress.two {
  stroke-dashoffset: 140;
          animation: two 3.5s ease-in-out, appear 2s;
}

.circle-small-orange .text {
  position: absolute;
  width: 100%;
  top: 33px;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
}

.circle-small-orange .text .small {
  font-size: 12px;
  color: #fff;
}

.circle-small-green {
  margin: 0 auto;
  width: 400px;
  height: 80px;
  text-align: center;
}

.circle-small-green {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 20px;
}

.circle-small-green svg {
  width: 80px;
  height: 80px;
}

.circle-small-green .bg {
  fill: none;
  stroke-width: 6px;
  stroke: #ddd;
}

.circle-small-green .progress {
  fill: none;
  stroke-width: 6px;
  stroke: darkgreen;
  stroke-linecap: round;
  stroke-dasharray: 330.36;
          transform: rotate(-90deg);
          transform-origin: 50% 50%;
}

.circle-small-green .progress.one {
  stroke-dashoffset: 80;
          animation: one 2.5s ease-in-out, appear 1s;
}

.circle-small-green .progress.two {
  stroke-dashoffset: 140;
          animation: two 3.5s ease-in-out, appear 2s;
}

.circle-small-green .text {
  position: absolute;
  width: 100%;
  top: 33px;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
}

.circle-small-green .text .small {
  font-size: 12px;
  color: #fff;
}



canvas {
  height: 175px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

input {
  font-family: verdana;
  font-size: 12pt;
}

.alert-success{
      background: #f4f4f4;
    color: #269612;
    border-radius: 4px;
    padding: 10px;
}



.myradio{
  display: inline-block;
  border-radius: 999px;
  margin: 5px;

  &__input {
    opacity: 0;
    position: absolute;
  }

  &__label{
    border-radius: 9999px;
    padding: 3px 15px 3px 40px;
    cursor: pointer;
    position: relative;
    transition: all .5s;
    &::before, &::after{
      content: "";
      border-radius: 9999px;
      width: 16px; height: 16px;
      margin: 3px 0;
      position: absolute;
      z-index: 1;
    }
    &::before{
      background-color: #DCDCDC;
      border: 2px solid #DCDCDC;
      top: 4px; left: 10px;
      transition: all .5s;
    }
    &::after{
      background-color: #ffffff;
      top: 6px; left: 12px;
      transition: all .15s;
      transition-timing-function: ease-out;
    }
  }

}




































.avatar-upload {
    position: relative;
    max-width: 180px;
    margin: 50px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
      width: 382px;
  height: 324px;
  position: relative;
      background-image: url("/polls_management/static/src/img/laurier_5.png");
    color: inherit;
    text-decoration: none;
    background-size: 100%;
  border: 6px solid #F8F8F8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}



.o_progressbar .o_progress .bg-primary.o_progress_red {
  background-color: red !important;
}
.o_progressbar .o_progress .bg-primary.o_progress_orange {
  background-color: orangered !important;
}
.o_progressbar .o_progress .bg-primary.o_progress_yellow {
  background-color: yellow !important;
}
.o_progressbar .o_progress .bg-primary.o_progress_green {
  background-color: green !important;
}



/*.o_portal_wrap {
    background-image: url("/polls_management/static/src/img/categorie_2.png");
    background-size: 100%;
}*/

main {
  background-image: url("/polls_management/static/src/img/categorie_2.png");
    background-size: 100%;
    color:white;
}

#categories_card {
  top: 320px;
left: 659px;
width: 665px;
height: 133px;

/* UI Properties */

text-align: left;
font: normal normal normal 97px/112px Gotham Black;
letter-spacing: 0px;
color: #010031;
opacity: 1;
}

/*.test_card {
  top: 372px;
left: 140px;
width: 1640px;
height: 1571px;*/

/* UI Properties */

/*
border: 4px solid #E9C961;
border-radius: 50px;
opacity: 1;
}
*/


/*integration */

.section_categories_card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* for the purpose of this display*/
  min-height: 30vh;
  border: 5px solid #F1D064;
  border-radius: 20px;
  //margin-top:100px;
}

#table_categories {
  border:none;
  width:100%;
  margin-top:80px;

}

#test_card {
  padding: 11px;
  border: 5px solid #F7D04C;
  border-radius: 23px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
  position: relative;
  transition: all 1.7s ease;
  margin: 22px auto;
  color: #FFFFFF;
  font-size: 14px;
  font-family: Arial;
  background-color: #000432;
  width: 397px;
  height: 102px;
}
/*.btn:hover {
  background-color: blue;
  color: white;
  cursor: pointer
}*/


#test_card:hover {
  box-shadow: inset 0 0 6px hsla(0,0%,100%,0.4);
   cursor: pointer;
  background-color: #F5AD0B;
  color: white;

}

#test_card::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: linear-gradient(45deg, #ffffff00, #ffffff 50%, #ffffff00);
    top: -1px;
    right: 20px;
    transition: all 1.4s ease;
}

#test_card:hover::before {
    right: calc(50% - 20px);
}

#test_card::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: linear-gradient(45deg, #ffffff00, #ffffff87 50%, #ffffff00);
    bottom: -1px;
    left: 20px;
    transition: all 1.4s ease;
}

#test_card:hover::after {
    left: calc(50% - 20px);
}
#category {
  color:white;
}

#text_categories {
  color:white;
  font-family: Gotham;
  font-size: 26px;
}

#card_registration {
/*  top: 722px;
left: 204px;
width: 459px;
height: 476px;*/

/*
background: #FFFFFF 0% 0% no-repeat padding-box;
*/
border: 4px solid #FFFFFF7B;
border-radius: 18px;
/*
opacity: 1;
backdrop-filter: blur(13px);
*/
/*
-webkit-backdrop-filter: blur(13px);
*/
}

#card-registration {
  top: 722px;
left: 204px;
width: 459px;
height: 476px;

background: #FFFFFF 0% 0% no-repeat padding-box;
border: 4px solid #FFFFFF7B;
border-radius: 18px;
opacity: 1;
backdrop-filter: blur(13px);
-webkit-backdrop-filter: blur(13px);
}

.card-photo {
top: 805px;
    left: 288px;
    width: 200px;
    height: 222px;
    margin-top: 30px;
    margin-left: 63px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #FFB100;
    border-radius: 38px;
    opacity: 1;
}

/* UI Properties */

/*box-shadow: 0px 3px 6px #00000029;
border: 2px solid #FFB100;
border-radius: 38px;
opacity: 1;
}*/

#image-candidate {
      border-radius: 38px;
    height: 220px;
    width: 216px;
}

#card-description {
  top: 1088px;
left: 285px;
height: 80px;
  width: 100%;
  border-radius: 76px;
    margin-bottom: 22px;
  border: 2px solid #FFB100;

      background-color: white;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 18px;


/* UI Properties */

text-align: center;
font: normal normal normal 34px/39px Gotham Medium;
letter-spacing: 0px;
color: #B77F00;
text-transform: uppercase;
opacity: 1;
}

#score {
  color: #E1BF3A;
  margin-top: 54px;
  border-radius: 7px;
  background-color: #0042CB;
}

#div_score {
  margin-left: 59px;
  z-index: 2;
  position: absolute;
  margin-top: 31px;
  background-color: #00197A;
  border: 2px solid #FFB100;
  width: 80px;
  border-radius: 23px;
}
#div_score_candidate {
  background-color: #00197A;
  border: 2px solid #FFB100;
  width: 80px;
  border-radius: 23px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 10px;
}

#candidate_name {
  top: 715px;
left: 380px;
  font-size: 40px;
text-align: left;
font: normal normal normal 60px/70px Gotham Medium;
letter-spacing: 0px;
color: #FAC100;
text-transform: uppercase;
opacity: 1;
}

#progressbar_candidate {
  margin-top: 50px;
  height: 50px;
  border: 2px solid #E1BF38;
  text-transform: uppercase;
  border-radius: 38px;
  background-color: #00197A;
    width: 472px;
    float: left;
}

#progress_candidate {
  width: 25%;
  border-radius: 38px;
  border: 2px solid #FFB100;
  background-color: #FFB100;
  color: #00197A;
  font-size: 23px;
  height: 50px;
  text-transform: uppercase;
}

#title_category {
border: 6px solid #F2C233;
  border-radius: 4px 36px / 90px;
  font-size: 44px;
  //margin-top: 158px;
  /*
  margin-left: 327px;
  */
  //margin-top: 158px;
  font-family: Gotham Black;
  font-weight: bold;
  width: 763px;
  text-align: center;
  letter-spacing: 0px;
  color: #F2C233;
  text-transform: uppercase;
  opacity: 1;
}

.span_categories_title {
  width: 243px;
  margin-left: 340px;
  margin-bottom: -158px;
    margin-top: 92px;
}

.div_categ_title {
      margin-left: -25px;
    border: 6px solid white;
      font-family: Gotham Medium;
margin-top: 30px;
  color: #01013A;
  background-color: white;
  /*
  border-radius: 10px;
  */
  text-align: center;
  font-size: 30px;
}


.modal-open #wrapwrap {
  overflow: scroll;
}

.presse_div_form {
  width: 454px;
  margin-left: -58px;
    height: 570px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 53px;
    opacity: 1;
    margin-top: 53px;
}



/* integration css */
/*
section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  !* for the purpose of this display*!
  min-height: 100vh;
}
#test_card {
  padding: 24px;
  border: 1px solid #ffffff1f;
  border-radius: 18px;
  background: linear-gradient(193deg, #6a6dd982 53%, #a695fb78 100%);
  box-shadow: inset 0 0 6px hsla(0,0%,100%,0.2);
  position: relative;
  max-width: 300px;
  transition: all 1.7s ease;
  margin: 28px auto;
}

#test_card:hover {
  box-shadow: inset 0 0 6px hsla(0,0%,100%,0.4);
}

#test_card::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: linear-gradient(45deg, #ffffff00, #ffffff 50%, #ffffff00);
    top: -1px;
    right: 20px;
    transition: all 1.4s ease;
}

#test_card:hover::before {
    right: calc(50% - 20px);
}

#test_card::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: linear-gradient(45deg, #ffffff00, #ffffff87 50%, #ffffff00);
    bottom: -1px;
    left: 20px;
    transition: all 1.4s ease;
}

#test_card:hover::after {
    left: calc(50% - 20px);
}*/
